* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffeedf;
    height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
}

header {
    border-bottom: 2px solid #145434;
    color: #145434;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


h1 {
   font-size: 36px;
    margin-left: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 60px;
}

.card {
    width: 400px;
    height: 250px;
    background-color: #145434;
    margin: 30px;
    position: relative;
    color: #ffeedf;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.rank {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #ffeedf;
    border: 2px solid #145434;
    color: #145434;
    font-size: 24px;
    position: absolute;
    top: -20px;
    left: -20px;
}

button {
    width: 200px;
    height: 50px;
    font-size: 14px;
    position: absolute;
    right: -40px;
    bottom: -20px;
    border: 3px solid #145434;
    background-color: #ffeedf;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    border: 3px solid #ffeedf;
    background-color: #145434;
    color:#ffeedf;
}

.arrow:hover {
    color: #ffeedf;
}

.arrow {
    font-size: 36px;
    color: #145434;
    position: relative;
    left: 65px;
}

h2 {
    font-size: 36px;
    margin: 10px 25px 15px 25px;
    border-bottom: 1px solid #ffeedf;
}

p {
    font-size: 18px;
}

.bold {
    font-weight: bold;
}

.details {
    margin: 20px 0px 0px 25px;
}